absl-py==0.9.0
asgiref==3.3.1
astor==0.8.1
astroid==2.4.0
beautifulsoup4==4.9.0
bleach==1.5.0
cachetools==4.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cmake==3.18.4.post1
colorama==0.4.3
cryptography==2.9.2
cx-Freeze==6.1
cycler==0.10.0
decorator==4.4.2
Django==3.1.5
django-active-link==0.1.6
django-cors-headers==3.6.0
django-crispy-forms==1.10.0
django-messages==0.6.0
django-money==1.1
django-moneyfield==0.2.1
django-pagination==1.0.7
django-phonenumber-field==5.0.0
django-registration-redux==2.7
django-rest-auth==0.9.5
django-taggit==1.3.0
django-user-messages==0.7.0
djangorestframework==3.12.2
face-recognition-models==0.3.0
gast==0.2.2
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
html5lib==0.9999999
idna==2.9
imageio==2.8.0
imutils==0.5.3
install==1.3.4
isort==4.3.21
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
matplotlib==3.2.0
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
oauthlib==3.1.0
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
opt-einsum==3.2.0
pandas==1.0.1
phonenumbers==8.12.13
Pillow==8.1.0
protobuf==3.11.3
psycopg2==2.8.5
py-moneyed==0.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.8
pylint==2.5.0
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.3
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
soupsieve==2.0
sqlparse==0.4.1
tb-nightly==2.2.0a20200313
tensorboard==2.1.1
tensorboard-plugin-wit==1.6.0.post2
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
tensorflow-gpu-estimator==2.1.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
Werkzeug==1.0.0
wrapt==1.12.1
